body{
    background-color: aquamarine;
}
#stenen > img{
    margin-right: 10px;
    width: 50px;
}
#stenen{
    margin: 0 0  20px 0;
}
strong{
    border-bottom: 2px solid black;
}
#number_of_duos{
    font-weight: bold;
    background-color: rebeccapurple;
    padding: 5px;
    color: white;
}
#number_of_duos span{
    font-weight: bold;
    color: red;
}
button{
    background-color: greenyellow;    
    margin: 20px 0  20px 0;
    cursor: pointer;
    width: 80px;
    height: 30px;
    font-size: large;
    font-weight: 600;
}